<launch>
    <param name="lower_h" type="int" value="0" />
    <param name="lower_s" type="int" value="150" />
    <param name="lower_v" type="int" value="150" />
    <param name="upper_h" type="int" value="40" />
    <param name="upper_s" type="int" value="255" />
    <param name="upper_v" type="int" value="255" />
    <param name="cam_rate" type="int" value="10" />
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <include file="$(find camera)/launch/tag_world.launch"/>
    <node pkg="camera" name="test_test" type="cam_test.py" output="screen"/>
</launch>