<launch>
  <arg name="model1" value="burger"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find testscripts)/worlds/world_with_obstacle.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="0.1"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <group ns="turtle1">
    <param name="tf_prefix" value="turtle1_tf"/>
    <param name="robot_description"
           command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_$(arg model1).urdf.xacro"/>
    <param name="model" value="$(arg model1)"/>
    <arg name="model" value="$(arg model1)"/>
    <arg name="robot_name" value="t1"/>
    <arg name="init_pose" value="-x 1 -y 1 -z 0"/>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -model turtlebot3_burger_$(arg robot_name) $(arg init_pose) -param robot_description"/>
    <node name="drive_forward_1" pkg="testscripts" type="driveforward.py" output="screen" args=""/>

  </group>

</launch>
