<launch>
    <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch">
        <arg name="slam_methods" value="gmapping"/>
    </include>
    <include file="$(find tagstore)/launch/tagstore.launch"/>
    <node pkg="transformations_odom" name="tf_odom" type="poseconversions.py" output="screen"/>
</launch>